<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lifestyle|Blog</title>
  <link rel="icon" href="images/favicon.ico">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Cuprum&family=Yeseva+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Roboto:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">
<!-- w3 schools link -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
<!-- for all common content pages -->
  <link rel="stylesheet" href="/css/contentStyles.css">

<!-- navbar -->
  <nav id="top" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p id="brand" class="navbar-brand"><a href="/" class="mainHeadingUrl">Lifestyle|Blog</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/"><b>HOME</b></a></li>
          <li><a href="/allPosts"><b>ALL POSTS</b></a></li>
          <li id="contact"><a href="/contact"><b>CONTACT US</b></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
