<%- include("partials/headerContent");   -%>

<h1 id="heading">Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label class="title">Title</label>
    <input id="titleId" class="form-control" type="text" name="postTitle" value="" required>
    <label class="title">Post</label>
    <textarea id="contentId" class="form-control" name="postBody" rows="5" cols="30" required></textarea>
    <br>
    <div class="buttonStart">
      <h4>Ready to publish?</h4>
    </div>

    <br>
    <button type="submit" name="private" class="btnP btn-three"><h4>Private</h4></button>
    <button type="submit" name="public" class="btnP btn-three"><h4>Public</h4></button>

  </div>
</form>



  <%- include("partials/footerContent"); -%>


</body>
</html>
