<%- include("partials/headContact")-%>

	<div class="container-contact">
		<div class="wrap-contact">

			<div class="contact-form-title" style="background-image: url(images/bg-02.jpg);">
				<span>Contact Us</span>
			</div>

			<form class="contact-form validate-form" action="https://formspree.io/f/mgepgjrv" method="POST">
				<div class="wrap-input validate-input">
					<input id="name" class="input" type="text" name="name" placeholder="Full name" required>
					<span class="focus-input"></span>
					<label class="label-input" for="name">
						<img class="sides" src="images/user.png" alt="">
					</label>
				</div>


				<div class="wrap-input validate-input">
					<input id="email" class="input" type="email" name="_replyto" placeholder="Eg. example@email.com" required>
					<span class="focus-input"></span>
					<label class="label-input" for="email">
            <img class="sides" src="images/mail.png" alt="">
					</label>
				</div>


				<div class="wrap-input validate-input">
					<input id="phone" class="input" type="text" name="phone" placeholder="Eg. +91 0000000000" required>
					<span class="focus-input"></span>
					<label class="label-input" for="phone">
						<img class="sides" src="images/smartphone.png" alt="">
					</label>
				</div>

				<div class="wrap-input validate-input">
					<textarea id="message" class="input" name="message" placeholder="Your comments..." required></textarea>
					<span class="focus-input"></span>
					<label class="label-input rs1" for="message">
						<img class="sides" src="images/speech-bubble.png" alt="">
					</label>
				</div>

				<div class="container-4">
	      <button type="submit" name="private" class="btnD btn-four"><h4>Send Now</h4></button>
	      </div>
			</form>
      <!-- <div id="status" class="success">
        success
      </div> -->
		</div>


	</div>


</div>
  <div class="footer">

		<p>
			<a href="https://github.com/Learning-to-code12">
				<img src="images/github.png" alt="">
			</a>
			<a href="https://www.facebook.com/vartikahari.durgapal.5">
				<img src="images/facebook.png" alt="">
			</a>
		<a href="https://www.instagram.com/_vartika12_/">
			<img src="images/instagram.png" alt="">
		</a>
		<a href="https://www.linkedin.com/in/vartika-hari-durgapal-1354a7202/">
			<img src="images/linkedin.png" alt="">
		</a>
		<a href="mailto:vartika12durgapal@gmail.com">
			<img src="images/edit.png" alt="">
		</a>

	</p>
	<h6>To see all the policies <a href="https://learning-to-code12.github.io/policies/index.html">Click Here</a></h6>
    <p class="footerName">© Copyright 2020 Vartika Hari Durgapal</p>
  </div>
</div>




</body>
</html>
