<%- include('partials/headerMain') %>
  <!-- navbar -->
  <!-- front-section -->
  <section id="front-section">
  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light navbar-custom">

<% if (userName == 0) { %>
  <h1 class="brand">Blog</h1>
<% } else { %>
  <h1 class="brand">Hi, <h1><h4><%= userName %></h4>
<% } %>




<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navHeading nav-link" href="/"><b>HOME</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="navHeading nav-link" href="/contact"><b>CONTACT</b></a>
      </li>
      <li class="nav-item">
        <a class="navHeading nav-link" href="/blog"><b>BLOGS</b></a>
      </li>
      <li class="nav-item">
        <a class="navHeading nav-link" href="/home"><b>PERSONAL BLOGS</b></a>
      </li>
      <li class="nav-item">
        <a class="navHeading nav-link" href="/compose"><b>COMPOSE</b></a>
      </li>
    </ul>
  </div>


  <ul class="navbar-nav ml-auto">
<%    if (userName == 0) { %>
      <li class="nav-item">

        <a class="navHeading nav-link" data-toggle="tooltip" data-placement="bottom" title="Sign up!!!" href="/SignUp"><b>SIGN UP</b></a>
        </li>
          <li class="nav-item">
            <a class="navHeading nav-link" data-toggle="tooltip" data-placement="bottom" title="Login!!!" href="/Login"><b>LOGIN</b></a>
          </li>
<%    } else {  %>
  <li class="nav-item">
    <a class="navHeading nav-link" data-toggle="tooltip" data-placement="bottom" title="My Account" href="/account"><b>ACCOUNT</b></a>
    </li>
      <li class="nav-item">
        <a class="navHeading nav-link" data-toggle="tooltip" data-placement="bottom" title="Sign up!!!" href="/Logout"><b>LOG OUT</b></a>
        </li>
<%    }  %>




  </ul>

</nav>
</section>


    <!-- section one:titles -->
     <section id="title">
       <div class="title-content">
         <h1 class="subhead">A LIFESTYLE BLOG</h1>
         <h1 class="heading" >Lovely Little Things</h1>
      </div>
      </section>


    <!--section : main image -->

    <section id="image">
      <img class="mainImage" src="https://static.wixstatic.com/media/f61af8_e15083b95c954f71a1b4d9a5a78ded70~mv2_d_2121_1312_s_2.jpg/v1/fill/w_1899,h_849,al_c,q_85,usm_0.66_1.00_0.01/f61af8_e15083b95c954f71a1b4d9a5a78ded70~mv2_d_2121_1312_s_2.webp" alt="">

    </section>
      <!-- additions -->





<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">


      <div id = "box" >

        <img class="image" src="https://static.wixstatic.com/media/f61af8_eb1ad478c5a74087afd491c6eefc3cb8~mv2_d_4016_4633_s_4_2.jpg/v1/fill/w_389,h_351,al_c,q_80,usm_0.66_1.00_0.01/f61af8_eb1ad478c5a74087afd491c6eefc3cb8~mv2_d_4016_4633_s_4_2.webp" alt="">
         <div class="smallBox1">
        <h2>Lifestyle</h2>
        <p>
          <a class="link" href="/compose">Click here to add</a>
        </p>
      </div>
      </div><!-- /.col-lg-4 -->


      <div id = "box" >

        <img class="image" src="https://static.wixstatic.com/media/d7abbfdd10b343afaf2294eb91acff20.jpg/v1/crop/x_2762,y_2798,w_3082,h_2099/fill/w_390,h_351,al_c,q_80,usm_0.66_1.00_0.01/d7abbfdd10b343afaf2294eb91acff20.webp" alt="">
        <div class="smallBox2">
        <h2>Family</h2>
        <p>
          <a class="link" href="/compose">Click here to add</a>
        </p>
      </div>
      </div><!-- /.col-lg-4 -->


      <div id = "box" >

         <img class="image" src="https://static.wixstatic.com/media/903ad6_9c073bb48c15421c93e85a49a861b85b~mv2.jpg/v1/fill/w_389,h_351,al_c,q_80,usm_0.66_1.00_0.01/lai-yuching-WxePxgrIJbQ-unsplash_edited_.webp" alt="">
        <div class="smallBox3">
        <h2>Food</h2>
        <p>
          <a class="link" href="/compose">Click here to add</a>
        </p>
      </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


<!-- about me-->



    <!-- START THE FEATURETTES -->



    <hr class="featurette-divider">
    <div class="row" >
    <div id = "features" class="row featurette">
      <div class="col-md-7 order-md-2">
        <p></p>
        <h2 class="featurette-heading"><a class="link" href="/about">About</a></h2>
        <p class="lead">I am Vartika. I am a web devloper, software engineer and a singer.<br> This is my first project for web development.
        Currently, learning to improve my skills more.</p>
      </div>
     <div class="col-md-5 order-md-1">
       <img class = "image2" src="images/me.jpg" alt="me">
   </div>
    </div>

    <hr class="featurette-divider">

    <div id = "features" class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><a class="link" href="/compose">Soup for the soul</a></h2>
        <p class="lead">Do you have a anything in mind for your blog? Writing a blog is a great way to position yourself as an authority in your field and captivate your readers’ attention.</p>
      </div>
      <div class="col-md-5">
        <img class = "image2" src="https://images.unsplash.com/photo-1521305916504-4a1121188589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
    </div>


    <hr class="featurette-divider">

    <div id = "features" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><a class="link" href="/compose">And lastly, this one</a></h2>
    <p class="lead">Here is a great way to start and post your blogs.Go to compose on the top and start creating your own.</p>
     </div>
     <div class="col-md-5 order-md-1">
       <img class = "image2" src="https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
   </div>
    </div>



    <hr class="featurette-divider">

      </div>

</div>
    <!-- /END THE FEATURETTES -->





      <!-- Example row of columns -->
      <div id="imageRow" class="row">
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1533483595632-c5f0e57a1936?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1459478309853-2c33a60058e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->
        <!-- <div class="col-xs-6 col-sm-6 col-lg-2 eachDiv"> -->
          <img id="bar" class="col-xs-6 col-sm-6 col-lg-2" src="https://images.unsplash.com/photo-1548197253-652ffe79752c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <!-- </div> -->

      </div>





<footer id="blankFooter">

</footer>



    <!-- section six: footer -->

    <footer id="footer">

    <br>
      <h2 class="message">SEND ME A MESSAGE OR SUGGESTIONS</h2>
      <br>
      <form class="form-signin">
        <a href="mailto:vartika12durgapal@gmail.com?subject=Mail request" type="button"  name="button" class="formMessage form-control btn btn-dark btn-lg btn-block"> Click here to send :) </a>
      </form>

      <div class="bottomLine">
        <p>© Copyright 2020 Vartika Hari Durgapal
        <a href="https://www.facebook.com/vartikahari.durgapal.5"><i class="footer-icons fab fa-facebook-f"></i></a>
        <a href="mailto:vartika12durgapal@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </p>
      </div>
      </footer>

<script src="animation.js" charset="utf-8"></script>
<%- include('partials/footerMain') %>
